---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 10;
---

<div class="intro-section">
   <p>
     Hey, I'm ldstephens. This is my little spot on the web where I drop whatever's on my mind: stories, random thoughts, and rants now and then. You'll also see quotes that stick with me and links I think are worth passing along. Nothing fancy, just the small but meaningful stuff from my day-to-day. That's what a personal blog feels like it should be.
   </p>

   <p>
      Anyway, I have no clue where this thing is going. Could be great, could be
      a mess. Either way, stick around. Or don't. It's your call.
   </p>
</div>

{% set postsCount = collections.posts | length %} {% set latestPostsCount =
postsCount | min(numberOfLatestPostsToShow) %}
<h1>
   My {{ latestPostsCount }} Most Recent Post{% if latestPostsCount != 1 %}s{%
   endif %}
</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %} {% include "postslist.njk" %} {% set
morePosts = postsCount - numberOfLatestPostsToShow %} {% if morePosts > 0 %}
<p>
   {{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in
   <a href="blog.njk">the archive</a>.
</p>
{% endif %} {# List every content page in the project #} {#
<ul>
   {%- for entry in collections.all %}
   <li>
      <a href="{{ entry.url }}"
         ><code>{{ entry.url }}</code></a
      >
   </li>
   {%- endfor %}
</ul>
#}
